:root {
  --primary-color: lightcoral;
  --secondary-color: DimGrey;
  --tertiary-color: Gainsboro;
}

body {
  background-color: var(--primary-color);
  font-size: 15px;
  font-family: "Lato", sans-serif;
}

#container {
  height: 525px;
  width: 350px;
  margin: 100px auto;
  background: #f7f7f7;
  box-shadow: 5px 5px 5px #c1c1c1;
  border-radius: 20px;
}

.title {
  background: var(--tertiary-color);
  color: var(--secondary-color);
  text-transform: uppercase;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.tipsForm {
  padding-left: 20px;
  padding-right: 20px;
}

.formInput {
  background: white;
  width: 55px;
  padding: 5px 5px 8px 8px;
}

.formSelect {
  width: 180px;
  padding: 5px;
  font-size: 12px;
  background: white;
}

.formSubmit {
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  margin: 30px auto;
  background: var(--primary-color);
  border-radius: 5px;
  width: 200px;
  height: 50px;
  font-size: 17px;
  color: white;
}
.formInput:focus {
  border: 3px solid var(--primary-color);
}

#totalTip {
  font-size: 20px;
  margin-top: 5px;
  text-align: center;
}
